body {
    padding: 0%;
    margin: 0%;
}

/* =====================================TABLE ============================*/
table#tictac {
    margin: auto;
}

#tictac .vert {
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}

#tictac .horizon {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}

#tictac tr td {
    width: 100px;
    height: 100px;
}


/*==============NAVGATION BAR======================================*/
#nav ul {
    background-color: #0c0909;
    height: 20%;
    /*margin: 10px;*/
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

#nav ul li {
    display: inline;
    padding: 10px;
    /*margin: 10px;*/

}

#nav ul li a {
    color: wheat;
    padding: .2em 1em;
    font: 400 18px;
    text-decoration: none;
}

#nav ul li a:hover {
    color: #faf8f8;
    background-color: rgba(53, 46, 46, 0.8);
    border-bottom: 2px solid rgb(189, 148, 86);
}

/*=======================================BODY===================================*/

.gallery img {
    width: 22%;
    float: left;
    margin: 1.5%;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.gallery img:hover {
    opacity: 0.4;

}

#logo {
    width: 150px;
    height: 100px;
    margin: 10px 10px 10px 60px;
}

/*=========================  HEADING ==================================*/

h3 {
    text-align: center;
}

.headings {
    margin-left: 1.5%;
    margin-bottom: 0%;
    color: #2a3f04;
    /*font-family: Tahoma, sans-serif;*/
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    border-bottom: 2px solid #0c0909;
    letter-spacing: 1.5px;
    width: 97%;
}

.headings a {
    text-decoration: none;
    color: #2a3f04;
}

.headings a:hover {
    color: #e01313;
}

#textright {
    margin-left: 15%;
    color: rgb(143, 9, 9);
    font-family: 'Kalam', cursive;
    font-size: 18px;
    font-weight: 400px;
    padding: 4px;
}

/* ============================FOOTER ===================================================*/
.footer {
    width: 100%;
    background-color: #0c0909;
    float: left;
    color: whitesmoke;
}

#leftfooter {
    width: 25%;
    background: #e01313;
}

#leftfooter ul {
    list-style-type: none;
    font: 400 18px Verdana, Cambria, 'sans-serif';
    padding: 10px 0px;
    margin: 20px 0px 20px 14px;
}

#leftfooter ul li {
    display: block;
    border: 2px groove #faf8f8;
    background: linear-gradient(#332, #faf8f8);
    padding: 5px 0px;
    margin: 10px 0px;
    width: 300px;
    text-align: left;

}

#leftfooter ul li a {
    text-decoration: none;
    /*color: rgb(231, 233, 148);*/
    color: rgb(143, 9, 9);
    padding: 10px;
}

#rightfooter {
    background-color: #faf8f8;
}

#copyright {
    text-align: center;
    font: 300 14px 'Courier New', Courier, monospace;
}

.closefooter{
    clear: both;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/*=======================blog page CSS ==================================*/

table#datatable, th, td{
margin: 40px auto;
border: 2px ridge #218366;
border-collapse: collapse;
padding: 10px;
text-align: center;
}

table#datatable{
width: 50%;
}

table#datatable th.colresize, td.colresize{
    width: 50%;
    background-color: #775f5f;
}

table#datatable tr{
    height: 80px;
}

table#datatable1, th, td{
    border: 2px ridge #218366;
    border-collapse: collapse;
    padding: 5px;
}

table#datatable1{
    width: 30%;
    margin: auto;
    }

table#datatable1 tr{
    height: 40px;
}

table caption{
    font: 600 14px Ariel, Verdana, 'sans-serif';
    color: #2a3f04;
    padding: 10px;
}
